* {
    padding: 0px;
    margin: 0px;
    background-color: rgb(238, 230, 221);
    box-sizing: border-box;
}

.container{
    background-color: rgb(238, 230, 221);
    height: 1000px;
}

.house{
    margin-bottom: 100px;
}


.box{
    height: 100px;
    width:300px;
    color:red;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin-left: 800px;
    margin-top:none;
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state: running;
    animation-iteration-count: infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(90deg);
    }
    60%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box2{
    height:100px;
    width:300px;
    color:red;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin-left: 200px;
    margin-top: 150px;
    animation-name: spin2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state: running;
    animation-iteration-count: infinite;

}

.box3{
    height: 100px;
    width:500px;
    color:red;
    flex-direction: column;
    justify-content: top;
    align-items: top;
    margin-left: 800px;
    margin-top:none;
    margin-bottom:300x;
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state: running;
    animation-iteration-count: infinite;

}

.box4{
    height:200px;
    width:200px;
    color:red;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin-left: 200px;
    margin-top: 150px;
    animation-name: spin2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state: running;
    animation-iteration-count: infinite;

}


@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(-90deg);
    }
    60%{
        transform: rotate(-180deg);
    }
    100%{

        transform: rotate(-360deg);
    }
}

.textbox{
    height:300px;
    width:600px;
    color:black;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin-left: 800px;
    margin-bottom:100px;


    

}

p{
    font-family: 'Indie Flower', cursive;
    color:black;
    font-size: 60px;
    
}

.textbox2{
    height:400px;
    width:600px;
    color:black;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 100px;
    margin-bottom:none;
    

}



.textbox3{
    height:800px;
    width:800px;
    color:black;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin-left: 600px;
    margin-bottom:none;
    

}


.container2{
    background-color: rgb(238, 230, 221);
    height: 1000px;
    margin-top:1800px;
}

.textbox4{
    height:100px;
    width:600px;
    color:black;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 100px;
    margin-bottom:none;
    

}

@keyframes glitch {
    0% {
       opacity: 100%;
    }
    30% {
        opacity: 0%;
    }
    60%{
        opacity: 100%;
    }
    100%{
        opacity:100%;
    }
}



.textbox5{
    height:200px;
    width:600px;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin-left: 800px;
    margin-bottom:none;
    animation-name: glitch;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state: running;
    animation-iteration-count: infinite;

}


.whitecomputer{
    height:800px;
    width:500px;
    color:red;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    animation-name: glitch;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state: running;
    animation-iteration-count: infinite;
 

}

.textbox6{
    height:200px;
    width:600px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 200px;
    margin-bottom:0px;
  

}







.textbox7{
    height:600px;
    width:700px;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin-left: 800px;
    margin-bottom:0px;
  

}

.container4{
    background-color: rgb(238, 230, 221);
    height: 400px;
    margin-top:1500px;
    margin-bottom: 800px;
}

.goodnight{
    height:100px;
    width:300px;
    color:red;
    align-self: flex-end;
    margin-left: 800px;  
    animation-duration: 2s;
    transform-origin: bottom; 
    animation-iteration-count: infinite;
    animation-name: enlarge;
}



.pinkgoodnight{
    height:100px;
    width:300px;
    color:red;
    align-self: flex-end;
    margin-left: 200px;  
    animation-duration: 2s;
    transform-origin: bottom; 
    animation-iteration-count: infinite;
    animation-name: enlarge;
   

}

.greygoodnight{
    height:100px;
    width:300px;
    color:red;
    align-self: flex-end;
    margin-left: 1000px;  
    animation-duration: 2s;
    transform-origin: bottom; 
    animation-iteration-count: infinite;
    animation-name: enlarge;
   

}


@keyframes enlarge {
    0% {
       transform:scale(0.2)
    }
    30% {
        transform:scale(0.4)
    }
    60%{
        transform:scale(0.6)
    }
    100%{
        transform:scale(0.8)
    }
}

.textbox8{
    height:200px;
    width:600px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 200px;
    margin-bottom:0px;
  

}

.textbox9{
    height:600px;
    width:700px;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin-left: 800px;
    margin-top: 200px;
    margin-bottom:0px;
  

}

.container5{
    background-color: rgb(238, 230, 221);
    height: 300px;
    margin-top:1800px;
}

.textbox10{
    height:600px;
    width:700px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom:0px;
  

}


.wave{
    height:200px;
    width:1000px;
    margin-top: 0px;
    margin-bottom: 800px;
    animation-name: wave;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state: running;
    animation-iteration-count: infinite;
    margin-left: 0px;
  
}

@keyframes wave {
    0% {
       transform:translate(-600px)
    }
    30% {
        transform:translate(800px)
    }
    60%{
        transform:translate(1600px)
    }
    100%{
        transform:translate(2000px)
    }
}

.textbox11{
    height:600px;
    width:700px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom:0px;
  

}
